In [1]:
import pandas as pd
import json
import pprint as pp
import random
import statistics as st

In [2]:
#Read State Living Wage and generate 50 random numbers from livingWage
with open('state_wage_data.json') as json_file: 
        state_wage = json.load(json_file)

Living_Wage = {}        
for data in state_wage.values():
    for values  in data:
        for key,value in values.items():
#             majors = value.keys()
            wage_split = value["living wage"].split("$")[1].split(",")
            wage_join =pd.to_numeric(''.join(map(str, wage_split)),errors='coerce')  
            Living_Wage[key] = wage_join
            
Living_Wage_df = pd.DataFrame(Living_Wage.items())
Living_Wage_df.columns = ["state","living_wage"]
l_min = Living_Wage_df["living_wage"].min()
l_max = Living_Wage_df["living_wage"].max()

living_wage_random = []
for i in range(50):
    num=random.randint(l_min, l_max)
    living_wage_random.append(num)
    
living_wage_random

[29661,
 29772,
 23622,
 23900,
 33841,
 31060,
 27390,
 28249,
 32586,
 31734,
 22609,
 23216,
 34190,
 35167,
 23686,
 28158,
 25444,
 26643,
 23374,
 32344,
 23557,
 27434,
 25352,
 23352,
 32322,
 35166,
 32345,
 28815,
 32690,
 26147,
 29261,
 24155,
 33899,
 27330,
 25358,
 34024,
 23011,
 27917,
 22883,
 31791,
 26665,
 29354,
 27179,
 31750,
 28570,
 27500,
 27270,
 28193,
 23680,
 29126]

In [3]:
#Read majors and occupation data and generate 50 random numbers from income
with open('majors.json') as json_file: 
        majors_data = json.load(json_file)


income_data = {}

for key,value in majors_data.items():
    for data in value:
        Major_Category = data['Major_Category']
        Possible_occupation = data['Possible_Occupations']
       
        for record in Possible_occupation:
            Occupation = record['Occupation']
            Median_sal_split = record['Median_Occ_Salary'].split(",")
            Median_sal = ''.join(map(str, Median_sal_split))
            Income = pd.to_numeric(Median_sal, errors='coerce')  
            income_data[Occupation] = Income
            data["Occ"] = income_data

            
income_data_df = pd.DataFrame(income_data.items())
income_data_df.columns = ["Occupation","Median_income"]
income_data_df.dropna(inplace=True)


i_min = income_data_df["Median_income"].min()
i_max = income_data_df["Median_income"].max()

income_data_random = []

for i in range(50):
    num=random.randint(i_min, i_max)
    income_data_random.append(num)

income_data_random

[137569,
 74935,
 97537,
 113814,
 96999,
 33843,
 42664,
 74524,
 76621,
 73689,
 58677,
 124038,
 97588,
 50058,
 92359,
 65751,
 27800,
 29489,
 118977,
 26953,
 89993,
 55349,
 45252,
 67827,
 116937,
 128364,
 135448,
 65981,
 110538,
 76504,
 51300,
 111878,
 76467,
 117585,
 60214,
 33981,
 88113,
 111840,
 133898,
 37550,
 133547,
 90706,
 129224,
 103652,
 59219,
 48786,
 135089,
 25369,
 54181,
 49592]

In [4]:
#Read University Tuition data and generate 50 random numbers from out-of-state Tuition
with open('UniversitiesTuition.json') as json_file: 
        univ_data = json.load(json_file)

univ_Tuition = {}       
for record in univ_data:
    curr_tuition = int(record['Out_2020_2021'])
    university = record['University']
    univ_Tuition[university] = curr_tuition  

univ_data_df = pd.DataFrame(univ_Tuition.items())
univ_data_df.columns = ["Univ","Curr_Tuition"]


u_min = univ_data_df["Curr_Tuition"].min()
u_max = univ_data_df["Curr_Tuition"].max()

debt_data_random = []

for i in range(50):
    num=random.randint(u_min, u_max)
    debt_data_random.append(num)

debt_data_random

[16536,
 24491,
 41453,
 19126,
 42038,
 21453,
 23051,
 43017,
 29505,
 44016,
 50440,
 21445,
 29085,
 15025,
 25068,
 23603,
 25677,
 23913,
 40071,
 41004,
 47274,
 38424,
 23297,
 25734,
 40932,
 52290,
 31448,
 33131,
 50540,
 34983,
 48196,
 18349,
 20012,
 15881,
 19931,
 52288,
 35516,
 33784,
 22002,
 46553,
 16075,
 19444,
 50633,
 21390,
 38966,
 27451,
 18461,
 26762,
 41488,
 51474]

In [17]:
Algo_data_input = pd.DataFrame({"living_wage":living_wage_random,
                               "income":income_data_random,
                               "debt":debt_data_random})

Algo_data_input["time_to_repay"] = Algo_data_input["debt"]/((Algo_data_input["income"] - Algo_data_input["living_wage"])*0.3)

Algo_data_input['decision'] = ["Yes" if (x>0  and x < 10) else "No" for x in Algo_data_input['time_to_repay']]

Algo_data_input

    living_wage  income   debt  time_to_repay decision
0         29661  137569  16536       0.510806      Yes
1         29772   74935  24491       1.807601      Yes
2         23622   97537  41453       1.869400      Yes
3         23900  113814  19126       0.709048      Yes
4         33841   96999  42038       2.218669      Yes
5         31060   33843  21453      25.695293       No
6         27390   42664  23051       5.030553      Yes
7         28249   74524  43017       3.098649      Yes
8         32586   76621  29505       2.233451      Yes
9         31734   73689  44016       3.497080      Yes
10        22609   58677  50440       4.661565      Yes
11        23216  124038  21445       0.709005      Yes
12        34190   97588  29085       1.529228      Yes
13        35167   50058  15025       3.363329      Yes
14        23686   92359  25068       1.216781      Yes
15        28158   65751  23603       2.092854      Yes
16        25444   27800  25677      36.328523       No
17        26643   29489  23913      28.007730       No
18        23374  118977  40071       1.397132      Yes
19        32344   26953  41004     -25.353367       No
20        23557   89993  47274       2.371907      Yes
21        27434   55349  38424       4.588214      Yes
22        25352   45252  23297       3.902345      Yes
23        23352   67827  25734       1.928724      Yes
24        32322  116937  40932       1.612480      Yes
25        35166  128364  52290       1.870212      Yes
26        32345  135448  31448       1.016718      Yes
27        28815   65981  33131       2.971443      Yes
28        32690  110538  50540       2.164046      Yes
29        26147   76504  34983       2.315666      Yes
30        29261   51300  48196       7.289502      Yes
31        24155  111878  18349       0.697233      Yes
32        33899   76467  20012       1.567061      Yes
33        27330  117585  15881       0.586523      Yes
34        25358   60214  19931       1.906032      Yes
35        34024   33981  52288   -4053.333333       No
36        23011   88113  35516       1.818480      Yes
37        27917  111840  33784       1.341865      Yes
38        22883  133898  22002       0.660631      Yes
39        31791   37550  46553      26.945071       No
40        26665  133547  16075       0.501332      Yes
41        29354   90706  19444       1.056418      Yes
42        27179  129224  50633       1.653944      Yes
43        31750  103652  21390       0.991627      Yes
44        28570   59219  38966       4.237876      Yes
45        27500   48786  27451       4.298757      Yes
46        27270  135089  18461       0.570740      Yes
47        28193   25369  26762     -31.588763       No
48        23680   54181  41488       4.534059      Yes
49        29126   49592  51474       8.383661      Yes

In [18]:
Algo_data_input.to_csv("Algo_data_input.csv",index = False)