In [1]:
import pandas as pd
import json
import pprint as pp
import random
import statistics as st

In [2]:
#Read State Living Wage and generate 50 random numbers from livingWage
with open('state_wage_data_redo.json') as json_file: 
        state_wage = json.load(json_file)

Living_Wage = {}        
for data in state_wage.values():
    for values  in data:
        for key,value in values.items():
#             majors = value.keys()
            wage_split = value["living wage"].split("$")[1].split(",")
            wage_join =pd.to_numeric(''.join(map(str, wage_split)),errors='coerce')  
            Living_Wage[key] = wage_join
            
Living_Wage_df = pd.DataFrame(Living_Wage.items())
Living_Wage_df.columns = ["state","living_wage"]
l_min = Living_Wage_df["living_wage"].min()
l_max = Living_Wage_df["living_wage"].max()

living_wage_random = []
for i in range(50):
    num=random.randint(l_min, l_max)
    living_wage_random.append(num)
    
living_wage_random

[33957,
 24614,
 29182,
 34653,
 30235,
 24214,
 32013,
 32392,
 25761,
 29411,
 26481,
 25270,
 32625,
 34412,
 26567,
 24488,
 27603,
 30942,
 25950,
 25373,
 22141,
 24256,
 27144,
 27570,
 30428,
 24022,
 31744,
 32657,
 30001,
 24890,
 28615,
 27219,
 22682,
 24312,
 34973,
 35040,
 32855,
 34910,
 31172,
 33027,
 32230,
 25910,
 29302,
 27708,
 25445,
 24634,
 29836,
 34871,
 29444,
 26033]

In [3]:
#Read majors and occupation data and generate 50 random numbers from income
with open('majors.json') as json_file: 
        majors_data = json.load(json_file)


income_data = {}

for key,value in majors_data.items():
    for data in value:
        Major_Category = data['Major_Category']
        Possible_occupation = data['Possible_Occupations']
       
        for record in Possible_occupation:
            Occupation = record['Occupation']
            Median_sal_split = record['Median_Occ_Salary'].split(",")
            Median_sal = ''.join(map(str, Median_sal_split))
            Income = pd.to_numeric(Median_sal, errors='coerce')  
            income_data[Occupation] = Income
            data["Occ"] = income_data

            
income_data_df = pd.DataFrame(income_data.items())
income_data_df.columns = ["Occupation","Median_income"]
income_data_df.dropna(inplace=True)


i_min = income_data_df["Median_income"].min()
i_max = income_data_df["Median_income"].max()

income_data_random = []

for i in range(50):
    num=random.randint(i_min, i_max)
    income_data_random.append(num)

income_data_random

[65383,
 40961,
 57060,
 104308,
 64336,
 48841,
 70617,
 130567,
 51612,
 47528,
 25284,
 82135,
 136847,
 112803,
 120408,
 35970,
 108029,
 71764,
 74559,
 114390,
 54146,
 29433,
 98380,
 47181,
 110977,
 117340,
 57296,
 29096,
 55676,
 131794,
 72990,
 101217,
 27839,
 64971,
 55596,
 25532,
 104099,
 107440,
 39408,
 68777,
 101050,
 124379,
 60450,
 69349,
 66404,
 36471,
 55112,
 89249,
 34260,
 31709]

In [7]:
#Read University Tuition data and generate 50 random numbers from out-of-state Tuition
with open('UniversitiesTuition.json') as json_file: 
        univ_data = json.load(json_file)

univ_Tuition = {}       
for record in univ_data:
    curr_tuition = int(record['Out_2020_2021'])
    university = record['University']
    univ_Tuition[university] = curr_tuition  

univ_data_df = pd.DataFrame(univ_Tuition.items())
univ_data_df.columns = ["Univ","Curr_Tuition"]


u_min = univ_data_df["Curr_Tuition"].min()
u_max = univ_data_df["Curr_Tuition"].max()+100000

debt_data_random = []

for i in range(50):
    num=random.randint(u_min, u_max)
    debt_data_random.append(num)

debt_data_random

[57061,
 50246,
 129921,
 53405,
 100071,
 56406,
 54783,
 73516,
 48325,
 13911,
 87263,
 69783,
 66710,
 23080,
 36852,
 143810,
 32739,
 56071,
 93300,
 23053,
 127895,
 24605,
 145046,
 14234,
 37194,
 37891,
 83481,
 61380,
 89808,
 74525,
 35389,
 37976,
 112167,
 78910,
 129384,
 90645,
 107551,
 147771,
 71072,
 104822,
 24419,
 114004,
 81241,
 138052,
 75323,
 49958,
 130712,
 112578,
 87637,
 115474]

In [8]:
Algo_data_input = pd.DataFrame({"living_wage":living_wage_random,
                               "income":income_data_random,
                               "debt":debt_data_random})

Algo_data_input["time_to_repay"] = Algo_data_input["debt"]/((Algo_data_input["income"] - Algo_data_input["living_wage"])*0.3)

Algo_data_input['decision'] = ["Yes" if (x>0  and x < 10) else "No" for x in Algo_data_input['time_to_repay']]

Algo_data_input

    living_wage  income    debt  time_to_repay decision
0         33957   65383   57061       6.052419      Yes
1         24614   40961   50246      10.245713       No
2         29182   57060  129921      15.534472       No
3         34653  104308   53405       2.555691      Yes
4         30235   64336  100071       9.781825      Yes
5         24214   48841   56406       7.634710      Yes
6         32013   70617   54783       4.730339      Yes
7         32392  130567   73516       2.496087      Yes
8         25761   51612   48325       6.231223      Yes
9         29411   47528   13911       2.559475      Yes
10        26481   25284   87263    -243.004734       No
11        25270   82135   69783       4.090565      Yes
12        32625  136847   66710       2.133587      Yes
13        34412  112803   23080       0.981405      Yes
14        26567  120408   36852       1.309023      Yes
15        24488   35970  143810      41.749405       No
16        27603  108029   32739       1.356900      Yes
17        30942   71764   56071       4.578495      Yes
18        25950   74559   93300       6.397992      Yes
19        25373  114390   23053       0.863243      Yes
20        22141   54146  127895      13.320315       No
21        24256   29433   24605      15.842509       No
22        27144   98380  145046       6.787111      Yes
23        27570   47181   14234       2.419390      Yes
24        30428  110977   37194       1.539187      Yes
25        24022  117340   37891       1.353472      Yes
26        31744   57296   83481      10.890341       No
27        32657   29096   61380     -57.455771       No
28        30001   55676   89808      11.659591       No
29        24890  131794   74525       2.323736      Yes
30        28615   72990   35389       2.658329      Yes
31        27219  101217   37976       1.710677      Yes
32        22682   27839  112167      72.501454       No
33        24312   64971   78910       6.469252      Yes
34        34973   55596  129384      20.912573       No
35        35040   25532   90645     -31.778502       No
36        32855  104099  107551       5.032049      Yes
37        34910  107440  147771       6.791259      Yes
38        31172   39408   71072      28.764773       No
39        33027   68777  104822       9.773613      Yes
40        32230  101050   24419       1.182747      Yes
41        25910  124379  114004       3.859218      Yes
42        29302   60450   81241       8.694084      Yes
43        27708   69349  138052      11.050967       No
44        25445   66404   75323       6.129951      Yes
45        24634   36471   49958      14.068317       No
46        29836   55112  130712      17.237960       No
47        34871   89249  112578       6.900953      Yes
48        29444   34260   87637      60.656838       No
49        26033   31709  115474      67.814188       No

In [9]:
Algo_data_input.to_csv("Algo_data_input.csv",index = False)