In [2]:
import pandas as pd
import json
import pprint as pp
import random
import statistics as st

In [3]:
#Read State Living Wage and generate 50 random numbers from livingWage
with open('state_wage_data_redo.json') as json_file: 
        state_wage = json.load(json_file)

Living_Wage = {}        
for data in state_wage.values():
    for values  in data:
        for key,value in values.items():
#             majors = value.keys()
            wage_split = value["living wage"].split("$")[1].split(",")
            wage_join =pd.to_numeric(''.join(map(str, wage_split)),errors='coerce')  
            Living_Wage[key] = wage_join
            
Living_Wage_df = pd.DataFrame(Living_Wage.items())
Living_Wage_df.columns = ["state","living_wage"]
l_min = Living_Wage_df["living_wage"].min()
l_max = Living_Wage_df["living_wage"].max()

living_wage_random = []
for i in range(50):
    num=random.randint(l_min, l_max)
    living_wage_random.append(num)
    
living_wage_random

[31546,
 33975,
 22084,
 31579,
 29970,
 23613,
 26480,
 32890,
 28348,
 34421,
 31774,
 31724,
 28561,
 28491,
 23905,
 22516,
 28168,
 34998,
 29374,
 32763,
 26209,
 29197,
 32672,
 31700,
 32440,
 27087,
 26967,
 31856,
 31123,
 26777,
 27072,
 27772,
 22152,
 26527,
 29976,
 30335,
 31457,
 28607,
 30618,
 31712,
 33242,
 34344,
 27282,
 31335,
 28316,
 27514,
 28744,
 34223,
 33504,
 28128]

In [4]:
#Read majors and occupation data and generate 50 random numbers from income
with open('majors.json') as json_file: 
        majors_data = json.load(json_file)


income_data = {}

for key,value in majors_data.items():
    for data in value:
        Major_Category = data['Major_Category']
        Possible_occupation = data['Possible_Occupations']
       
        for record in Possible_occupation:
            Occupation = record['Occupation']
            Median_sal_split = record['Median_Occ_Salary'].split(",")
            Median_sal = ''.join(map(str, Median_sal_split))
            Income = pd.to_numeric(Median_sal, errors='coerce')  
            income_data[Occupation] = Income
            data["Occ"] = income_data

            
income_data_df = pd.DataFrame(income_data.items())
income_data_df.columns = ["Occupation","Median_income"]
income_data_df.dropna(inplace=True)


i_min = income_data_df["Median_income"].min()
i_max = income_data_df["Median_income"].max()

income_data_random = []

for i in range(50):
    num=random.randint(i_min, i_max)
    income_data_random.append(num)

income_data_random

[33463,
 93355,
 89911,
 48767,
 81802,
 126377,
 70467,
 135635,
 115271,
 57350,
 78064,
 117420,
 32302,
 50225,
 86649,
 64001,
 92114,
 118049,
 91588,
 32805,
 105708,
 92135,
 82493,
 46035,
 103001,
 41892,
 105568,
 92341,
 54203,
 71377,
 118874,
 67977,
 109458,
 59914,
 89189,
 66891,
 92836,
 58578,
 109499,
 59040,
 134106,
 92604,
 108338,
 54298,
 94995,
 34799,
 60521,
 106929,
 68825,
 136002]

In [6]:
#Read University Tuition data and generate 50 random numbers from out-of-state Tuition
with open('UniversitiesTuition.json') as json_file: 
        univ_data = json.load(json_file)

univ_Tuition = {}       
for record in univ_data:
    curr_tuition = int(record['Out_2020_2021'])
    university = record['University']
    univ_Tuition[university] = curr_tuition  

univ_data_df = pd.DataFrame(univ_Tuition.items())
univ_data_df.columns = ["Univ","Curr_Tuition"]


u_min = univ_data_df["Curr_Tuition"].min()
u_max = univ_data_df["Curr_Tuition"].max()

debt_data_random = []

for i in range(50):
    num=random.randint(u_min, u_max)
    debt_data_random.append(num)

debt_data_random

[17933,
 27498,
 47202,
 44281,
 46493,
 50786,
 32263,
 40689,
 36565,
 37870,
 31881,
 43968,
 27509,
 41791,
 31626,
 26565,
 25207,
 16359,
 49744,
 35145,
 25046,
 25418,
 33859,
 26535,
 42611,
 15127,
 42207,
 43086,
 29850,
 15864,
 28865,
 52129,
 16750,
 29966,
 15169,
 13896,
 44939,
 17640,
 23016,
 20568,
 36468,
 16244,
 46318,
 30750,
 21172,
 24069,
 17847,
 44700,
 30005,
 35642]

In [7]:
Algo_data_input = pd.DataFrame({"living_wage":living_wage_random,
                               "income":income_data_random,
                               "debt":debt_data_random})

Algo_data_input["time_to_repay"] = Algo_data_input["debt"]/((Algo_data_input["income"] - Algo_data_input["living_wage"])*0.3)

Algo_data_input['decision'] = ["Yes" if (x>0  and x < 10) else "No" for x in Algo_data_input['time_to_repay']]

Algo_data_input

    living_wage  income   debt  time_to_repay decision
0         31546   33463  17933      31.182403       No
1         33975   93355  27498       1.543617      Yes
2         22084   89911  47202       2.319725      Yes
3         31579   48767  44281       8.587580      Yes
4         29970   81802  46493       2.989980      Yes
5         23613  126377  50786       1.647334      Yes
6         26480   70467  32263       2.444889      Yes
7         32890  135635  40689       1.320064      Yes
8         28348  115271  36565       1.402199      Yes
9         34421   57350  37870       5.505401      Yes
10        31774   78064  31881       2.295744      Yes
11        31724  117420  43968       1.710232      Yes
12        28561   32302  27509      24.511271       No
13        28491   50225  41791       6.409466      Yes
14        23905   86649  31626       1.680161      Yes
15        22516   64001  26565       2.134506      Yes
16        28168   92114  25207       1.313973      Yes
17        34998  118049  16359       0.656585      Yes
18        29374   91588  49744       2.665209      Yes
19        32763   32805  35145    2789.285714       No
20        26209  105708  25046       1.050160      Yes
21        29197   92135  25418       1.346193      Yes
22        32672   82493  33859       2.265377      Yes
23        31700   46035  26535       6.170213      Yes
24        32440  103001  42611       2.012963      Yes
25        27087   41892  15127       3.405831      Yes
26        26967  105568  42207       1.789926      Yes
27        31856   92341  43086       2.374473      Yes
28        31123   54203  29850       4.311092      Yes
29        26777   71377  15864       1.185650      Yes
30        27072  118874  28865       1.048089      Yes
31        27772   67977  52129       4.321933      Yes
32        22152  109458  16750       0.639513      Yes
33        26527   59914  29966       2.991783      Yes
34        29976   89189  15169       0.853923      Yes
35        30335   66891  13896       1.267097      Yes
36        31457   92836  44939       2.440520      Yes
37        28607   58578  17640       1.961896      Yes
38        30618  109499  23016       0.972604      Yes
39        31712   59040  20568       2.508782      Yes
40        33242  134106  36468       1.205187      Yes
41        34344   92604  16244       0.929397      Yes
42        27282  108338  46318       1.904774      Yes
43        31335   54298  30750       4.463702      Yes
44        28316   94995  21172       1.058404      Yes
45        27514   34799  24069      11.013040       No
46        28744   60521  17847       1.872109      Yes
47        34223  106929  44700       2.049349      Yes
48        33504   68825  30005       2.831649      Yes
49        28128  136002  35642       1.101347      Yes

In [8]:
Algo_data_input.to_csv("Algo_data_input.csv",index = False)